@media screen and (max-width: 1199px) {
    .post_data {
        margin: auto;
        padding: 10px;
    }

    .post_data a {
        text-decoration: none;
    }

    .post_data a:hover {
        text-decoration: none;
    }

    .post_title {
        margin: auto;
        top: 160px;
        font-size: 20px;
        font-weight: bold;
        color: #cb202d;
    }

    .post_type {
        margin: auto;
        top: 190px;
        color: #89959B;
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .post_cost {
        margin: auto;
        top: 210px;
        color: #89959B;
        font-size: 15px;
    }

    .post_time {
        margin: auto;
        font-size: 15px;
    }

    .post_payment {
        margin: auto;
        font-size: 15px;
    }

    .post_rating {
        margin-top: 10px;
        background-color: #3f7e00;
        text-align: center;
        padding: 0px 5px;
        border-radius: 5px;
        font-size: 20px;
        color: #ffffff;
    }

    .post_views {
        margin: auto;
        position: absolute;
        bottom: 25px;
        font-size: 15px;
        color: #89959B;
    }

    .post_reviews {
        margin: auto;
        position: absolute;
        bottom: 5px;
        font-size: 15px;
        color: #89959B;
    }

    .review_name {
        margin: auto;
        padding: 5px 0px;
        font-size: 20px;
    }

    .review_city {
        margin: auto;
        font-size: 15px;
        color: #898989;
    }

    .review_open {
        font-size: 15px;
        color: green;
    }

    .review_type {
        color: red;
    }

    .review_rates {
        margin: auto;
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        background-color: #3f7e00;
        width: 100%;
        border-radius: 5px;
    }

    .reviewer_follow {
        margin-left: 20px;
        font-size: 10px;
        color: #ffffff;
        background-color: #898989;
        padding: 2px 5px;
        border-radius: 5px;
        text-align: left;
    }

    .reviewer_follow:hover {
        padding: 3px 6px;
        color: #ffffff;
        text-decoration: none;
    }

    .reviewer_rate {
        font-size: 15px;
    }

    .reviewer_time {
        font-size: 13px;
        margin-top: 5px;
        color: #898989;
        position: absolute;
    }

    .reviewer_rating {
        margin: auto;
        background-color: green;
        color: #ffffff;
        font-size: 12px;
        padding: 2px 4px;
        border-radius: 5px;
    }

    .reviewer_review {
        font-size: 12px;
    }

    .reviewer_adds {
        margin: auto;

    }

    .reviewer_commentbox {
        margin-top: 20px;
    }

    #review_button {
        margin-top: 10px;
    }

}

@media screen and (min-width: 1200px) {

    .login_button:hover {
        border-radius: 3px;
        background-color: #D94148;
    }

    .create_button {
        border-radius: 3px;
        background-color: #ba1e2b;
        color: #ffffff;
    }

    .create_button:hover {
        background-color: #D94148;
    }

    .post {
        position: relative;
    }

    .post_data {
        margin: auto;
        padding: 10px;
    }

    .post_data a {
        text-decoration: none;
    }


    .post_data a:hover {
        text-decoration: none;
    }

    .post_title {
        margin: auto;
        font-size: 25px;
        font-weight: bold;
        color: #cb202d;
    }

    .post_type {
        margin: auto;
        color: #89959B;
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .post_cost {
        margin: auto;
        color: #89959B;
        font-size: 15px;
    }

    .post_time {
        margin: auto;
        font-size: 15px;
    }

    .post_payment {
        margin: auto;
        font-size: 15px;
    }

    .post_rating {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #3f7e00;
        padding: 0px 5px;
        border-radius: 5px;
        font-size: 20px;
        color: #ffffff;
    }

    .post_views {
        position: absolute;
        top: 50px;
        right: 10px;
        font-size: 15px;
        color: #89959B;
    }

    .post_reviews {
        position: absolute;
        top: 70px;
        right: 10px;
        font-size: 15px;
        color: #89959B;
    }

    .review1 {
        margin: 20px;
        text-align: center;
        border-radius: 5px;
        padding-bottom: 50px;
    }

    .review_name {
        margin: auto;
        padding: 5px 0px;
    }

    .review_city {
        margin-top: 10px;
        font-size: 17px;
        color: #898989;
    }

    .review_open {
        font-size: 16px;
        color: green;
    }

    .review_type {
        font-size: 16px;
        color: red;
    }

    .review_rating {
        text-align: right;
        position: relative;
    }

    .review_rates {
        position: absolute;
        bottom: 80px;
        right: 0px;
        color: #ffffff;
        font-size: 25px;
        background-color: #3f7e00;
        padding: 10px 15px;
        border-radius: 5px;
    }

    .review_follows {
        position: relative;
    }

    .reviewer_follow {
        margin: auto;
        position: absolute;
        top: 60px;
        left: 100px;
        font-size: 10px;
        color: #ffffff;
        background-color: #898989;
        padding: 0px 5px;
        border-radius: 5px;
    }

    .reviewer_follow:hover {
        padding: 1px 6px;
        color: #ffffff;
        text-decoration: none;
    }

    .reviewer_rate {
        font-size: 15px;
    }

    .review_time {
        position: relative;
        padding: 5px 0px;
    }

    .reviewer_time {
        font-size: 13px;
        position: absolute;
        top: 20px;
        color: #898989;
    }

    .reviewer_rating {
        margin: auto;
        background-color: green;
        color: #ffffff;
        font-size: 12px;
        padding: 2px 4px;
        border-radius: 5px;
    }

    .reviewer_review {
        margin-left: auto;
        font-size: 12px;
        text-align: left;
    }

    .reviewer_adds {
        margin: auto;
        padding-bottom: 20px;
        position: relative;
    }

    .review_like {
        position: absolute;
        left: 0px;
        background-color: #e0e1e2;
    }

    .review_comment {
        position: absolute;
        left: 70px;
    }

    .review_share {
        position: absolute;
        right: 0px;
    }

    .reviewer_commentbox {
        margin-top: 20px;
    }

    .review_add {
        position: relative
    }

    #review_button {
        margin-top: 10px;
        position: absolute;
        left: 0px;
    }

}

.main {
    background-color: #ebebe0;
}

#navigation {
    margin: auto;
    background-color: #cb202d;
    padding: 0px 20px;
}

.account {
    width: 100%;
}

#background {
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #ebebe0;
}

#logo {
    color: #ffffff;
    font-weight: bolder;
    font-size: 30px;
    font-style: italic;
}

#login_button {
    color: #ffffff;
}

#create_button {
    border-color: #ba1e2b;
    background-color: #ba1e2b;
}

.cards {
    padding: 10px;
    margin: 10px 0px;
}

.card_footer {
    background-color: #ffffff;
}

.order_button {
    float: right;
}

img {
    padding: 10px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 5px;
}

#register1 {
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ebebe0;
}

#register2 {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}

.restaurant_text {
    padding: 5px;
    color: #89959B;
}

#restaurant_button {
    width: 100%;
}

#register3 {
    margin: 80px auto;
    border-radius: 5px;
    background-color: #ffffff;
}

.registration_text {
    padding: 5px;
    font-size: 20px;
}

#register_button {
    background-color: #cb202d;
    border-color: #cb202d;
    padding: 10px 30px;
    font-size: 20px;
    width: 100%;
}


#register4 {
    margin: 100px auto;
    border-radius: 5px;
    background-color: #ffffff;
}

#login_field {
    padding: 25px;
}

#signin_button {
    background-color: #cb202d;
    border-color: #cb202d;
    padding: 10px 30px;
    font-size: 20px;
    width: 100%;
}

.terms {
    font-size: 15px;
    color: #89959B;
}

.review_bar {
    font-size: 16px;
    border-radius: 0px;
    margin: 0px -5px;
    background-color: #cb202d;
    ;
}

.review_image {
    padding: 10px 0px;
    max-width: 1800px;
    max-height: 600px;
}

.review_data {
    position: relative;
    text-align: left;
    padding: 10px 0px;
}

.review_photo {
    margin: auto;
    padding: 10px 0px;
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
}

.reviewer_name {
    margin: auto;
    font-size: 20px;
    padding: 10px 0px 0px 100px;
    text-align: left;
}

.reviewer_reviews {
    margin: auto;
    font-size: 13px;
    color: #89959B;
    padding-left: 100px;
    text-align: left;
}
